src/main/resources/wsdl/CustomerOrders.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.schrage.net/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="CustomerOrdersWsImplService" targetNamespace="http://soap.schrage.net/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.schrage.net/"
							 targetNamespace="http://soap.schrage.net/" version="1.0">
			<xs:element name="createOrdersRequest" type="tns:createOrdersRequest"/>
			<xs:element name="createOrdersResponse" type="tns:createOrdersResponse"/>
			<xs:element name="getOrdersRequest" type="tns:getOrdersRequest"/>
			<xs:element name="getOrdersResponse" type="tns:getOrdersResponse"/>

			<xs:complexType name="createOrdersRequest">
				<xs:sequence>
					<xs:element name="customerId" type="xs:integer"/>
					<xs:element name="order" type="tns:order"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="order">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element maxOccurs="unbounded" name="product" type="tns:product"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="product">
				<xs:sequence>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="description" type="xs:string"/>
					<xs:element minOccurs="0" name="quantity" type="xs:integer"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createOrdersResponse">
				<xs:sequence>
					<xs:element name="result" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getOrdersRequest">
				<xs:sequence>
					<xs:element minOccurs="0" name="customerId" type="xs:integer"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getOrdersResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="order" nillable="true" type="tns:order"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getOrders">
		<wsdl:part element="tns:getOrdersRequest" name="parameters"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOrdersResponse">
		<wsdl:part element="tns:getOrdersResponse" name="parameters"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="createOrders">
		<wsdl:part element="tns:createOrdersRequest" name="parameters"> </wsdl:part>
	</wsdl:message>
	<wsdl:message name="createOrdersResponse">
		<wsdl:part element="tns:createOrdersResponse" name="parameters"> </wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CustomerOrdersPortType">
		<wsdl:operation name="createOrders">
			<wsdl:input message="tns:createOrders" name="createOrders"> </wsdl:input>
			<wsdl:output message="tns:createOrdersResponse" name="createOrdersResponse"> </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrders">
			<wsdl:input message="tns:getOrders" name="getOrders"> </wsdl:input>
			<wsdl:output message="tns:getOrdersResponse" name="getOrdersResponse"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerOrdersWsImplServiceSoapBinding" type="tns:CustomerOrdersPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="createOrders">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="createOrders">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="createOrdersResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrders">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input name="getOrders">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getOrdersResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerOrdersWsImplService">
		<wsdl:port binding="tns:CustomerOrdersWsImplServiceSoapBinding" name="CustomerOrdersWsImplPort">
			<soap:address location="http://localhost:8080/hellows/customerordersservice"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>